.ExclusiveBrands{
    background-color: rgb(223, 222, 222);
    width: 100%;
    height: 50vh;
    color:black;
    margin-bottom:5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.ExclusiveBrands h5{
    margin-top: 2.2rem;
}

.ExclusiveBrandsImg{
    width: 60%;
    height: 60%;
    margin: auto ;
    display: flex;
    justify-content: space-between;
}

.ExclusiveBrandsImg article{
    width: 23%;
    position: relative;
    cursor: pointer;
}
.ExclusiveBrandsImg .uno div{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(110, 189, 199, 0.541);
    transition: 0.8s;
}
.ExclusiveBrandsImg .dos div{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(199, 150, 110, 0.541);
    z-index: 99; 
    transition: 0.8s;
}
.ExclusiveBrandsImg .tres div{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(110, 199, 144, 0.541);
    z-index: 99; 
    transition: 0.8s;
}
.ExclusiveBrandsImg .cuatro div{
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(129, 110, 199, 0.541);
    height: 100%;
    z-index: 99; 
    transition: 0.8s;
}

.ExclusiveBrandsImg article img {
    position: absolute;
    object-fit:cover;
    width: 100%;
    height: 100%;
    left: 0;
  }
  .ExclusiveBrandsImg svg{
    position: absolute;
    color: rgb(255, 255, 255);
    top: -5%;
    left: 65%;
    font-weight: 900;
    width: 40%;
    height: 0%;
    transition: 0.8s;
} 
  .ExclusiveBrandsImg article:hover div{
    width: 0;
    transition: 1.5s;
  }
  .ExclusiveBrandsImg article:hover svg{
    color:rgb(240, 240, 240);
    height: 30%;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    transition: 1s;
  }

  .ExclusiveBrandsImg h3{
    color: rgb(36, 36, 36);
}
