.NavigationBar{
    background-color: rgb(255, 255, 255);
    height: 4.5rem;
    margin-bottom: 2rem;
    margin-top: 10rem;
}

.Nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 100%;
}

.LogoNav {
    height: 100%;
}

.LogoNav img{
    height: 100%;
    
}

.NavLinks {
    display: flex;
    justify-content: space-evenly;
    color: black;
}

.NavLinks a{
    text-decoration: none;
    font-weight: 100;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.NavLinks a:hover{
    color: gray;
    transition: 0.3s;
}

.BuyCar{
    background-color: rgba(57, 98, 185, 0.973);
    height: 100%;
    display: flex;
    position: relative;
}
.BuyCar svg{
    width: 70%;
    height: 70%;
    margin: auto;
    align-items: center;
    color: white;
}

.SelectedProducts{
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    top: 10%;
    left: 55%;
    border:0.2rem solid rgb(185, 176, 176);
    display: flex;
    align-items: center;
    justify-content: center;
}

.SelectedProducts h3{
    font-size: 1.5rem;
    margin: 0;
}


